.card {
    width: 100%;
    padding: 24px;
    box-shadow: var(--shadow);

    @include desktop {
        max-width: 1024px;
    }

    &__inner,
    &__picture-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: var(--gap);
    }
    &__inner {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: var(--border);

        @include desktop {
            flex-direction: column;
            row-gap: 24px;
            align-items: start;
        }

        @include mobile {
            row-gap: 34px;
        }
    }
    &__img-logo img,
    &__picture-examples {
        border-radius: var(--border-radius-small);
    }
    &__about {
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }
    &__address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        color: var(--color-blue-900);
        margin-bottom: 16px;
    }
    &__show-map {
        margin-bottom: 24px;
    }
    &__title-map {
        display: flex;
        align-items: center;
        column-gap: 4px;

        font-weight: 500;
        font-size: 20px;
        color: var(--color-gray-alt);
        margin-bottom: 8px;
    }
    &__link-map {
        font-weight: 400;
        font-size: 14px;
        color: var(--color-accent);
    }
    &__contact-tel {
        margin-bottom: 16px;
    }
    &__contact-tel,
    &__contact-time,
    &__buttons-del {
        display: flex;
        align-items: center;
        column-gap: 4px;

        font-weight: 500;
        font-size: 18px;
        color: var(--color-blue-700);
    }
    &__examples {
        display: flex;
        flex-direction: column;
    }
    &__title-examples {
        margin-bottom: 16px;

        font-size: 20px;
        color: var(--color-blue-900);
    }
    &__picture-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap);
    }
    &__picture-item--more {
        position: relative;
    }
    &__picture-item--more img {
        filter: brightness(60%);
    }
    &__picture-text {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 3;
        color: var(--color-light);
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include mobile {
            justify-content: center;
            gap: var(--gap);
        }
    }
    &__buttons-del {
        color: var(--color-dark);
        font-weight: inherit;
        font-size: inherit;
    }
}
