.footer {
	font-weight: 500;
	color: var(--color-light);

	border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
	background-color: var(--color-bg);
	padding: 64px 112px;

	@include tablet {
		padding: 40px 50px;
	}

	@include mobile {
		padding: 35px 25px;
	}

	&__main {
		padding-bottom: 40px;
		margin-bottom: 24px;

		display: flex;
		justify-content: space-between;
		align-items: start;
		column-gap: 100px;
		row-gap: 30px;

		@include mobile {
			padding-bottom: 20px;
			flex-direction: column;
		}
	}
	&__logo {
		max-width: 289px;
		font-size: 1.12rem;

		display: flex;
		flex-direction: column;
		justify-content: start;

		@include desktop {
			margin-right: 100px;
		}

		@include tablet {
			margin-right: 14px;
		}
	}
	&__logo-img {
		padding-bottom: 40px;
	}
	&__logo-text {
		padding-bottom: 24px;
	}
	&__desc {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 115px;
		row-gap: 30px;

		@include mobile {
			flex-direction: column;
			row-gap: 30px;
		}
	}
	&__info {
		width: 402px;

		@include tablet {
			width: 300px;
		}
	}
	&__info-title {
		font-size: 1.5rem;
		padding-bottom: 24px;
	}
	&__info-wrapper {
		display: flex;
		gap: 37px;

		@include desktop {
			flex-direction: column;
			gap: 16px;
		}
	}
	&__info-list {
		font-weight: 400;
		font-size: inherit;
		line-height: 1.5;
		opacity: 0.7;

		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}
	&__info-item {
		@include hover {
			opacity: 0.8;
		}
	}
	&__about {
		width: 204px;
	}
	&__extra {
		line-height: 1.5;
		color: var(--color-policy);
	}
	&__extra &__privacy-policy-link {
		text-decoration: underline;
	}
}
