html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-light);
	// color: var(--color-light);
	// для верстки
	color: var(--color-gray);
	font-family: var(--font-main);
	font-weight: 600;
	font-size: 16px;
	font-style: normal;
}

// добавляем плавность свойств для работы с элементами
a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
	display: block;
}

// определяем размеры текста в зависимости от макета и адаптивности, правило в mixin.scss
h1,
.h1 {
    @include fluid-text(32, 28);
}
h2,
.h2 {
    @include fluid-text(32, 28);
}
h3,
.h3 {
    @include fluid-text(30, 26);
}
h4,
.h4 {
    @include fluid-text(20, 18);
}

code {
	background-color: var(--color-light);
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: var(--color-light);
	padding: 1rem;
	border-radius: 4px;
}
