.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

// скроет элемент на мобильном устройстве при определном запросе
.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}
// покажет элемент на мобильных устройствах, но скорет на разрешении большем чем мобильно
.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.none {
  display: none;
}
.card__picture-list {
  position: relative;
}

.card__picture-list:last-child() li {
  filter: brightness(40%);
}

.card__picture-list:last-child() p {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  color: var(--color-light);
}
